.intro__list {
  font-family: 'inter';
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  list-style: none;
  margin: 0;
  padding-top: 33px;
  padding-left: 0;
  max-width: 690px;
}
@media screen and (max-width: 767px) {
  .intro__list {
    padding-top: 34px;
  }
}