.footer__author {
  color: #fff;
  font-family: 'Inteer', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer__author {
    padding-top: 48px;
  }
}