.cover__title {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  max-width: 560px;
  text-align: center;
  padding-bottom: 32px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
